$body-bg: #EAEAEA;
$form-bg: #73628A;
$white: #ffffff;

$main: #313D5A;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$purple-light: #CBC5EA;
$gray: #ddd;
$font-color: #183642;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;
